@import 'elements';
// BUTTON

.bt {
	background:#fff;
	border:2px solid $bt-color;
  border-radius:8px;
  color:$bt-color;
  display: block;
  height: 16px;
  margin: 0 auto;
  padding:5px 0 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  text-transform: uppercase;
  width:auto;
 	span {
    display: block;
    margin:0;
    padding:0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   	}
 	.metas & {
 		max-width:150px;
 		width:100%;
 	}
  small {
    font-size: em(10px);
  }
}

.bt--publish {
	background:$bt-color;
	color:#fff;
  float: right;
  margin:0;
}

.bt--finish {
  border-color:#b83e22;
  background:#b83e22;
  color:#fff;
  font-size: em(10px);
  padding:5px 5px 0 5px;
  &:hover {
    cursor:pointer;
  }
}

.bt--nextlevel {
  background:#fff;
  border-color:#fff;
  border-radius:4px;
  color:#bfb7a6;
  font-size:2em;
  height:auto;
  margin:25px auto;
  padding:8px 8px 0 8px;
  text-transform: none;
}