// VARIABLES
$base-font-size:12px;
$background-color:#edeeee;
$background-color-header:#d7d8d8;
$background-color-inner:#fff;
$bt-color:#39b54a;
$border-color:#cecdcd;
$default-color:#333;
$default-link-color:#29ABE2;
$notepad-color:#29abe2;

// CSS TRANSITION
@mixin transition($transition) {
  -webkit-transition:$transition;
  -moz-transition:$transition;
  -o-transition:$transition;
  -ms-transition:$transition;
  transition:$transition;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);      
}

// EM CONVERSION
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

// TEXT OVERFLOW
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}