.splash {

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;

	&.level-1 {
		background:image-url("background/splash-intro-level-1.jpg") 50% 50% no-repeat fixed #000;
	}
	&.level-2 {
		background:image-url("background/splash-intro-level-2.jpg") 50% 50% no-repeat fixed #000;
	}
	&.level-3 {
		background:image-url("background/splash-intro-level-3.jpg") 50% 50% no-repeat fixed #000;
	}

	-webkit-transition:all linear 1s;
	transition:all linear 1s;

	&.ng-hide {
		opacity: 0;
		z-index: -1;
	}

}

.top-skip {
	display: block;
	position:absolute;
	margin: 0;
	padding: 0;
	top:10px;
	right:10px;
	text-align: center;
	z-index:3;
	a {
		background:none;
		border-radius:6px;
		border:1px solid #000;
		color:#000;
		display: block;
		height: 45px;
		line-height: 45px;
		margin: 0 0 2px 0;
		padding: 0;
		width: 45px;
	}
}


.media {
	overflow: hidden;
	zoom:1;
}

.dialogue {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: rgba(0,0,0, 0.7);
	border-radius:8px;
	display: block;
	min-height: 125px;
	margin:0 0 0 -49%;
	padding:10px;
	width:98%;
	position: absolute;
	bottom: 20px;
	left: 50%;
	color: #fff;
	font-size: em(16px);
	img {
		float: left;
		height: 105px;
		margin: 0 10px 0 0;
		padding:0;
		width: 105px;
	}
	.typed {
		display: block;
		padding: 10px;
	}
	.skip {
		font-size: em(20px);
		cursor: pointer;
		display: block;
		height: 30px;
		position:absolute;
		right:10px;
		bottom:10px;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		width: 25px;
		&:after {
			content: "\25B8";
			color:#fff;
			display: block;
			text-indent: 0;
			margin: 0;
			padding: 0;
			position:absolute;
			right:0;
			top:0;
		}
	}
}

.me {
	text-align: right;
	img {
		float: right;
		margin:0 10px 0 10px;
	}
}

.dialogue__name {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0 0 3px #afafaf;
	background: #cecccf;
	background: linear-gradient(#cecccf, #eceaeb 70%);
	border-radius:6px 6px 0 0;
	color:#000;
	display: block;
	float: left;
	font-size: em(11px);
	display: block;
	height: 30px;
	margin:-40px 0 0 0;
	overflow: hidden;
	padding:8px;
	.me & {
		float: right;
	}
}

#typed-cursor {
  opacity: 1;
  font-weight: 100;
  @include animation(blink 0.7s infinite);
}

@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}



