#notepad {
	background:image-url("background/notepad.png") repeat;
}

.notepad__title {
	background:#34495e;
	border-radius:4px;
	color:#f5ee90;
	display: inline-block;
	font-size: em(14px);
	line-height: 1;
	margin: 0;
	padding:5px 5px 3px 5px;
	vertical-align: top;
}

.notepad__title--warning {
	background:#d35400;
}

.notepad__list, .thematique-list {
	li {
		color:#34495e;
		display: block;
		font-size: em(12px);
		min-height:16px;
		margin: 0;
		padding: 0 0 0 20px;
		position:relative;
		&:before {
			color:$notepad-color;
			display: block;
			margin: 0;
			padding: 0;
			position:absolute;
			left:0;
			top:0;
			font-family: 'icomoon';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-size: em(12px);
		}
	}
	.culture-sport-et-people:before {
		content: "\77";
	}
	.economie:before {
		content: "\63";
	}
	.international:before {
		content: "\62";
	}
	.politique:before {
		content: "\e600";
	}
	.science-technologie-et-jeux-video:before {
		content: "\78";
	}
	.societe:before {
		content: "\76";
	}
}

.item-theme {
	color:$notepad-color;
	display: block;
	font-size: em(12px);
	min-height:16px;
	margin: 0;
	padding: 3px 0 0 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	&:before {
		color:$notepad-color;
		display: inline-block;
		margin: 0;
		padding: 0 5px 0 0;
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: em(12px);
	}
	&.culture-sport-et-people:before {
		content: "\77";
	}
	&.economie:before {
		content: "\63";
	}
	&.international:before {
		content: "\62";
	}
	&.politique:before {
		content: "\e600";
	}
	&.science-technologie-et-jeux-video:before {
		content: "\78";
	}
	&.societe:before {
		content: "\76";
	}	
}

// THEMATIQUES

.thematique-list {
	li {
		color:$notepad-color;
		font-size:em(13px);
		padding:10px 0 5px 10px;
		&:before {
			left:10px;
			top:10px;
		}
	}
	[type="radio"]:not(:checked),
	[type="radio"]:checked {
		position: absolute;
		left: -999em;
	}
	[type="radio"]:not(:checked) + label,
	[type="radio"]:checked + label {
		position: relative;
		padding-left: 20px;
		cursor: pointer;
		display: block;
	}

	[type="radio"]:not(:checked) + label:before,
	[type="radio"]:checked + label:before {
		content: '';
		position: absolute;
		right:10px; top: 0;
		width: 12px; height: 12px;
		border: 1px solid #cecdcd;
		background: #fff;
		border-radius: 3px;
	}
	[type="radio"]:not(:checked) + label:after,
	[type="radio"]:checked + label:after {
		content: 'X';
		position: absolute;
		top: 2px; right: 13px;
		font-size: em(11px);
		color:$notepad-color;
		@include transition(all .2s);
	}
	[type="radio"]:not(:checked) + label:after {
		opacity: 0;
		@include transform(scale(0));
	}
	[type="radio"]:checked + label:after {
		opacity: 1;
		@include transform(scale(1));
	}
}
