#windows-bar {
    z-index: 99999;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 5px 5px 5px;
    margin: 0;
    background: rgba(255,255,255,.7);
    list-style: none;
    li {
        float: left;
        margin: 0 0 0 6px;
        padding: 0;
    }
    .k-button {
        background:#e7e6e6 !important;
        border-radius:8px !important;
        border:none !important;
        position:relative;
        height: 25px;
        line-height: 2.4;
        text-align: left !important;
        padding:0 0 0 30px !important;
        width:175px;
        &:before {
            display: block;
            margin: 0;
            padding: 0;
            position:absolute;
            left:8px;
            top:6px;
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 1.25em;
        }
    }
    .visible .k-button {
        background:#c2ccd1 !important;
        &:after {
            bottom: 100%;
            left: 15px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: transparent;
            border-bottom-color: #c2ccd1;
            border-width: 5px;
            margin-left: -5px;
        }
    }
    .cuicuiter .k-button:before {
        background:#e7e6e6;
        content: "\24";
        color: #fff;
        font-size: 1em;
    }
    .cuicuiter.visible .k-button:before {
        background:#c2ccd1;
    }
    .skoupe .k-button:before {
        background:none;
        content: "\2c";
        color: #189a99;
    }
    .notepad .k-button:before {
        background:none;
        content: "\3d";
        color: #34485e;
    } 
    .chat .k-button:before {
        background:none;
        content: "\2c";
        color: #974a83;
    }
    .blog .k-button:before, .publish .k-button:before {
        background: #29abe2;
        content: "\f9";
        color: #e7e6e6;
        height:17px;
    }
    .blog.visible .k-button:before, .publish.visible .k-button:before {
        color: #c2ccd1;
    }  
}

.k-button:focus:active:not(.k-state-disabled):not([disabled]) {
    box-shadow:none !important;
}

// TIMELINE
.timeline {
    background:#e7e6e6;
    border-radius:4px;
    box-shadow: rgba(128, 128, 128, .3) 1px 1px 7px 1px;
    position: fixed;
    margin:0;
    padding:10px;
    bottom: 50px;
    left: 20px;
    h2 {
        display: block;
        font-size: em(14px);
        margin: 0;
        padding: 5px 10px 0 0;
        &:before {
            color:#f15a24;
            content: "\27";
            display: inline-block;
            margin: -4px 0 0 0;
            padding: 0 8px 0 0;
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 1.25em;
            vertical-align: top;
        }
    }
}

.timeline-row {
    padding:0 0 10px 0;
}

.gauge {
    border:1px solid #95a5a6;
    border-radius:8px;
    margin: 0;
    padding:4px 3px 2px 2px;
    width: 145px;
    .gauge__inner {
        background:#dbd9d6;
        background: linear-gradient(to bottom, #b8b3af 0%,#dbd9d6 100%);
        border-radius:8px;
        border-bottom:1px solid #fff;
    }
    .fill {
        border-radius:8px;
        border-bottom:1px solid #fff;
        height: 8px;
    }
    .waiting__inner__body & {
        border-color:#fff;
    }
}

.fill {
    width: 0;
    max-width: 100%;
    .green & {
        background:#009245;
    }
    .lightgreen & {
        background:#8cc63f;
    }
    .yellow & {
        background:#fbb03b;
    }
    .orange & {
        background:#f15a24;
    }
    .red & {
        background:#ed1c24;
    }
}

.remaining {
    font-size: em(12px);
    padding:2px 0 0 5px;
}

.widget-scoring {
    background:#ccc;
    background:rgba(255,255,255,.25);
    border-radius:4px;
    box-shadow: rgba(128, 128, 128, .3) 1px 1px 7px 1px;
    position: fixed;
    margin:0;
    padding:10px 0 10px 10px;
    top: 10px;
    right: 65px;
    width: 240px;
    h2 {
        display: block;
        font-size: 1.2em;
        margin:0;
        padding:0;
    }
    .gauge {
        border-color:#c6903a;
        padding:4px;
    }
}

//FEEDBACK

.feedback {
    position: absolute;
    margin:0;
    padding:0;
    top: 90px;
    right: 65px;
    width: 260px;
    z-index:199999;
}

.feedback__title, .feedback__body {
    background:#e7e6e6;
    border-radius:4px;
    box-shadow: rgba(128, 128, 128, .3) 1px 1px 7px 1px;
    display: block;
    margin:0 0 1px 0;
    padding:15px 10px;
}

.feedback__title {
    font-size:em(16px);
    padding:15px 10px 15px 60px;
    text-shadow: 0 0 5px rgba(128, 128, 128, .5);
    .feedback--good & {
        background:image-url("feedback-good.svg") 10px 10px no-repeat #e7e6e6;
        color:#009245;
    }
    .feedback--bad & {
        background:image-url("feedback-bad.svg") 10px 10px no-repeat #e7e6e6;
        color:#904848;
    }
}

.feedback__body {
    background:#fff;
    margin:0;
    font-size: em(10px);
}

.status {
    position: absolute;
    bottom: 100px;
    left: 350px;
    width: 300px;
    height: 150px;
    border: 1px solid #eee;
}

.cuits {
    list-style: none;
    margin: 0;
    padding: 0;
    .cuit {
        height: auto;
        max-height: 0;
        overflow-y: hidden;
        @include transition(max-height 0.5s ease-in-out);
        &.visible {
            max-height: 210px;
        }
    }
    .source {
        display: inline-block;
        padding:5px 0 10px 0;
        margin: 0;
        vertical-align: top;
    }
}

.source--disabled {
    cursor:default
}

.off {
    display: inline;
}

.on {
    display: none;
}

.metas {
    display: table;
    font-size: .9em;
    table-layout: fixed;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;
        color: #95a5a6;
        display: table-cell;
        margin: 0;
        padding: 10px;
        text-align: center;
        vertical-align: top;
        &:first-child {
            border-left: none;
        }
    }
    span {
        padding:10px 0 0 0;
    }
    .contact-skoupe & li {
        text-align: left;
    }
}

.actions {
    list-style-type: none;
    li {
        display: inline-block;
        padding: 5px 10px;
        vertical-align: top;
    }
}

.actions {
    display: none;
    .toggle & {
        display: block;
    }
}

.theme {
    .verified-theme & {
        .off {
            display: none;
        }
        .on {
            display: inline;
        }
    }
}

.credibility {
    .verified-credibility & {
        .off {
            display: none;
        }
        .on {
            display: inline;
        }
    }
    display: none !important;
}

.scoop-true {
    color:#29abe2;
    padding:5px 0 0 0;
}

.scoop--false {
    color:#ea7c73;
    padding:5px 0 0 0;
}

.exclusivity {
    .verified-exclusivity & {
        .off {
            display: none;
        }
        .on {
            display: inline;
        }
    }
}

.level-1 {
    .publish, .credibility, .exclusivity, .timeline {
        display: none !important;
    }
}
.level-2, .intro-level-2 {
    .credibility, .exclusivity {
        display: none !important;
    }
}
.level-3, .intro-level-3 {
    .verified-theme .credibility {
        display: table-cell !important;
    }
    .exclusivity, .credibility {
        display: none !important;
    }
}

.play-level-3 {
    #new-contact {
        display: none;
    }
}

.level-4 {
    .verified-theme .credibility, .verified-theme .exclusivity {
        display: table-cell !important;
    }
}


.level-4 {
    #scoring {
        .verified-theme .credibility, .verified-theme .exclusivity {
            display: table-cell !important;
        }
    }
}

div.k-window-content#chat {
    overflow: hidden;
}

#chat {
    .inner {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .discussion {
        list-style-type: none;
        padding:20px 0 0 0;
    }
    li {
        border-radius: 8px;
        clear:both;
        position: relative;
        min-height: 20px;
        padding: 12px 8px 8px 8px;
        margin: 0 0 10px 0;
        background: #fff;
        float:left;
        max-width:75%;
        font-size: em(13px);
    }
    .other {
        border: 2px solid #16a085;
        color: #16a085;
        &:after, &:before {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-right-color: #ffffff;
            border-width: 4px;
            margin-top: -4px;
        }
        &:before {
            border-color: rgba(22, 160, 133, 0);
            border-right-color: #16a085;
            border-width: 7px;
            margin-top: -7px;
        }
    }
    .me {
        border: 2px solid #f15a24;
        color: #f15a24;
        float: right;
        &:after, &:before {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #fff;
            border-width: 4px;
            margin-top: -4px;
        }
        &:before {
            border-color: rgba(241, 90, 36, 0);
            border-left-color: #f15a24;
            border-width: 7px;
            margin-top: -7px;
        }
    }
}

.contact__name {
    display: block;
    font-size: em(16px);
    line-height: 1;
    margin:0;
    padding:0;
    &:before {
        color:#cecdcd;
        content: "\61";
        display: inline-block;
        margin: 0;
        padding: 0 5px 0 0;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.5em;
        vertical-align: middle;
    }
}

.inner__body {
    padding: 10px;
    h3 {
        display: block;
        font-size: em(16px);
        line-height:1.5;
        margin: 0;
        padding: 0;
    }
    p {
        display: block;
        margin:0;
        padding: 0;
        font-size: em(14px);
    }
}

.inner__body--fullwidth {
    padding: 10px 0;
    #win-themeSelector &, #themeSelector &, #skoupe & {
        padding: 0;
    }
}

.inner-item {
    border-bottom: 1px solid $border-color;
    display: block;
    padding: 5px;
    margin: 0;
    &:last-child {
        border: none;
    }
}

.contact-item {
    * {
        display: inline-block !important;
        vertical-align: top;
    }
    .call {
        float: right;
        &:before {
            color:#39b54a;
            content: "\61";
            display: inline-block;
            margin: 0;
            padding: 0 5px 0 0;
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 1.5em;
            vertical-align: middle;
        }
    }
    .contact-item__name {
        padding:3px 5px 0 0;
    }

}

.contact-item, .contact-skoupe {
    &.disabled.canCall {
        .tuto & {
            background: #eee;
        }
        .call {
            display: none;
        }
    }
}

.media .publish {
    margin: 0 5px 0 0;
    width: 150px;
}

.avatar {
    border: 1px solid $border-color;
    border-radius: 4px;
    display: block;
    float: left;
    overflow: hidden;
    margin: 0 10px 0 0;
    padding: 0;
    height: 60px;
    width: 60px;
}

.call--contact {
    display: inline-block;
    vertical-align: top;
    &:before {
        color:#39b54a;
        content: "\61";
        display: inline-block;
        margin: 0 0 5px 0;
        padding: 0;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.5em;
        vertical-align: middle;
    }
}

.call--contact__disabled {
    opacity: .3;
}

#tooltip {
    border-radius:4px;
    color:#fff;
    font-size: em(14px);
    position: absolute;
    top: 200px;
    left: 250px;
    z-index: 99999;
    background: rgba(46,33,20,.7);
    margin:0;
    padding:16px;
    width:320px;
    &:after {
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 20px;
    }
    &.bottom:after{
        border-top-color:rgba(46, 33, 20, .7);
        top: 100%;
    }
    &.top:after {
        border-bottom-color:rgba(46, 33, 20, .7);
        bottom: 100%;
    }
    &.right:after {
        left: 280px;
    }
    &.left:after {
        right: 280px;
    }
    p {
        display: block;
        margin:0;
        min-height:45px;
        padding:0;
        position:relative;
        width:260px;
        &:after {
            color:$notepad-color;
            content: "\75";
            display: block;
            margin: -22px 0 0 0;
            padding: 0;
            position:absolute;
            right:-50px;
            top:50%;
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 2.75em;
        }
    }
}

#scoring {
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    z-index: 99999;
    color: #fff;
    $bg-scoring: play-level-1 intro-level-1, play-level-2 intro-level-2, play-level-3 intro-level-3, play-level-4 intro-level-4;
    @each $current-level in $bg-scoring {
        .#{nth($current-level, 1)} & {
            background:image-url("background/#{nth($current-level, 2)}.jpg") 50% 50% no-repeat fixed;
            background-size:cover;
        }
    }
}

.scoring-bg {
    background:rgba(0, 0, 0, .7);
    display: block;
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    z-index: 99999;
}

#scoring.albert {
    background:image-url("background/outro-albert-londres.jpg") 50% 50% no-repeat fixed;
    background-size:cover;
}

.scoring__body {
    display: block;
    margin:100px auto 0 auto;
    padding: 0;
    text-align: center;
    width:80%;
    p {
        display: block;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        font-size: 1.333em;
    }
}

.scoring__body--defeat {
    margin-top:25px;
}

.scoring__title {
    color:#bfb7a6;
    font:normal 3.2em 'Amatic SC', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;
    &:before, &:after {
        border-top: 1px solid #bfb7a6;
        content: "";
        display: inline-block;
        height: .1em;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    &:before {
        right: 0.5em;
        margin-left: -50%;
    }
    &:after {
        left: 0.5em;
        margin-right: -50%;
    }
}

.scoring__title--details {
    font-size:2em;
}

.scoring__subtitle {
    color:#bfb7a6;
    display: block;
    font-size: em(32px);
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase;
}

.score__list, .scoring__details {
    margin:50px 0 0 -70px;
}

.score__item, .scoring__details__item {
    display: block;
    float: left;
    margin: 0;
    padding: 0 0 0 70px;
    position: relative;
    width: 33%;
    box-sizing: border-box; 
}

.scoring__details__item {
    min-height:300px;
}

.score__item__body {
    border:1px solid #fff;
    border-radius:8px;
    display: block;
    font-size: em(16px);
    height: 40px;
    margin:0 0 70px 0;
    padding:10px 5px 5px 5px;
    @media (max-width: 980px) {
        font-size:1em;
    }
}

.score__item__body__inner {
    display: block;
    margin:0;
    padding:0;
    width:70%;
    @media (max-width: 980px) {
        width:66%;
    }
}

.score__item__result {
    background:#4d443f;
    border-radius:8px;
    display: block;
    font-weight: bold;
    font-size:2em;
    height: 70px;
    line-height:3;
    padding:0 5px;
    position:absolute;
    right:0;
    top:-10px;
    text-align: center;
    min-width: 70px;
    @media (max-width: 980px) {
        font-size:1.5em;
        line-height: 4;
    }
    .score__item__currentlevel & {
        background:#e44f42;
    }
    .score__item__alllevel & {
        background:#369fe6;
    }
}

.scoring__details__item {
    .inner {
        background: #fff;
        border: 1px solid #cecdcd;
        border-radius: 4px;
        font-size:em(10px);
        margin: 0;
    }
    .media {
        text-align: left;
        p {
            color:#000;
            font-size:em(10px);
        }
    }
    .publish {
        display: none;
    }
    .avatar {
        height: 40px;
        width: 40px;
    }
    .stars {
        margin-top:5px;
    }
}

.scoring__body__content__text {
    background:rgba(0,0,0,.7);
    border-radius:12px;
    color:#9a979a;
    position:relative;
    margin: 70px 25px 0 0;
    padding:25px;
    &:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-left-color: rgba(0,0,0,.7);
        border-width: 20px;
        margin-top: -20px;
    }
    p {
        display: block;
        line-height:1.5;
        margin:0;
        padding: 0 0 20px 0;
    }
    strong {
        color:#fff;
    }
    em {
        font-size:1.6;
        font-style:normal;
    }
}

#cuicuiter .avatar {
    cursor:pointer;
}

.scoring__body p.scoring__details__text {
    color:#fff;
    display: block;
    font-size:1.1em;
    line-height: 1.3;
    margin:0;
    padding:15px 0;
    text-align: left;
}

// PROMPT

#prompt {
    background:#d7d8d8 !important;
    border-top: 1px solid #edeeee;
    padding: 20px;
    text-align: center;
    p {
        display: block;
        font-size: em(14px);
        margin: 0;
        padding: 0 0 20px 0;
    }
    .bt {
        float: right;
        font-size: .9em;
        padding:5px 8px 0 8px;
    }
    .bt--cancel {
        border-color:#d35400;
        color:#d35400;
        float: left;
    }
}

// BLOG

#blog, #publish {
    background:#fff;
    overflow-x:hidden;
}

.blog-subtitle {
    color:#29abe2;
    display: block;
    margin:0;
    padding: 3px 0 0 0;
    span {
        font-size: 1.5em;
        padding: 8px 0 0 5px;
        display: inline-block;
        vertical-align: top;
        font-weight: normal;
    }
    &:before {
        color:#29abe2;
        content: "\60";
        display: inline-block;
        margin: 0;
        padding: 0;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 2.5em;
        vertical-align: top;
        width: 36px;
        overflow: hidden;
    }
}

.blog-item {
    background:#daf0f9;
    border:1px solid #29abe2;
    border-radius:4px;
    color:#29abe2;
    padding:10px 20px 10px 10px;
    position:relative;
    margin:0 5px 10px 5px;
    .metas li {
        border:none;
        color:#29abe2;
        display: inline-block;
        font-size:em(9px);
        position:relative;
        margin: 0;
        padding:0 3px;
        vertical-align: top;
        &:before {
            color:#29abe2;
            content:"\2022";
            display: inline-block;
            margin: 0;
            padding: 0 3px 0 0;
        }
        &:first-child:before {
            display: none;
        }
    }
}

.postActions {
    display: block;
    position:absolute;
    margin: 0;
    padding: 0;
    right:5px;
    top:0;
    > span {
        cursor:pointer;
        display: block;
        margin:8px 0;
        padding:0;
        &:before {
            color:#29abe2;
            display: block;
            margin: 0;
            padding: 0;
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 1em;
            vertical-align: top;
        }
    }
    .remove:before {
        content:"\e8";
    }
    .up:before {
        content:"\28"
    }
    .down:before {
        content:"\a7"
    }
    .grid-block__item--large & {
        top:30px;
    }
}

.play-level-2, .play-level-3 {
    .postActions {
        .up, .down {
            display: none;
        }
    }
}

.blog-item-title {
    color:#29abe2;
    display: block;
    font-size:em(18px);
    margin: 0;
    padding: 0 0 15px 0;
}

.blog-copyright {
    color:#b3b3b3;
    padding:0 10px 0 0;
    text-align: right;
}

// BLOG INTERNATIONAL

.blog__category__list {
    text-align: center;
    position:relative;
    top:-20px;
    .active {
        background:#566473;
    }
}

.blog__category__item {
    background:#34495e;
    border-bottom:1px solid #d4d4d4;
    color:#fff;
    display: inline-block;
    font-size:.7em;
    height: 15px;
    line-height:2.5;
    margin:0 5px 0 0;
    padding:0 5px 5px 5px;
    text-shadow: 0 0 3px #2c3d4d;
    text-transform: uppercase;
    vertical-align: top;
}

.grid {
    overflow-x: hidden;
    .metas li {
        border:none;
        color:#29abe2;
        display: inline-block;
        font-size:em(9px);
        position:relative;
        margin: 0;
        padding:0 3px;
        text-align: left;
        vertical-align: top;
        &:before {
            color:#29abe2;
            content:"\2022";
            display: inline-block;
            margin: 0;
            padding: 0 3px 0 0;
        }
        &:first-child:before {
            display: none;
        }
    }
    .metas li.source {
        clear:both;
        display: block;
        &:before {
            display: none;
        }
    }
}

.grid * {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.grid > * {
    display: block;
    padding: 0;
    margin: 0 -20px;
    text-align: left;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
}

.grid > * > * {
    width: 100%;
    display: inline-block;
    padding: 0 15px;
    vertical-align: top;
    text-align: left;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
}

.grid2-1 > *:first-child {
    width: 60%;
}

.grid2-1 > *:last-child {
    width: 39%;
}

.grid3 > * {
    width: 33.333%;
}

.grid-block__item {
    position:relative;
    padding:0 0 0 5px;
    overflow: hidden;
    img {
        border:1px solid #2caae2;
        display: block;
        height:auto;
        margin:5px 0;
        padding:0;
        width: 100%;
    }
}

.grid-block__item__title {
    color:#000 !important;
    display: block;
    font-size: em(14px) !important;
    line-height: 1.3 !important;
    margin: 0;
    padding: 0 20px 0 0 !important;
    .grid-block__item--medium & {
        font-size:em(16px) !important;
        border-top:1px solid #666;
        padding-top:5px !important;
    }
    .grid-block__item--large & {
        font-size:em(20px) !important;
        padding-top:5px !important;
    }
}

.grid-block__item--medium:first-child {
    margin:12px 0 0 0;
}

.grid-block__item--small {
    .metas li {
        clear:none !important;
        display: block !important;
        padding:0 !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        float: left;
        width:75px;
        &:before {
            display: none;
        }
    }
    .metas li.date, .source-title, .theme-title {
        display: none !important;
    }
    .metas li.theme {
        width:12px;
    }
}

.grid-block__item__headline {
    border-top:1px solid #666;
    position: relative;
    span {
        background:#e7e6e6;
        color:#29abe2;
        display: block;
        font-size: em(10px);
        position:absolute;
        padding:0 5px 0 0;
        text-transform: uppercase;
        left:0;
        top:-6px;
    }
}

// STARS

.stars {
    background:image-url("bg-stars.png") left top no-repeat;
    display: block;
    height: 8px;
    margin: 0 auto;
    padding: 0;
    width: 27px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    .cuits & {
        margin:8px auto 0 auto;
    }
    .waiting__inner__body & {
        background-image:image-url("bg-stars-large.png");
        height:31px;
        width:122px;
    }
}

$stars: 0 0 0 0, 1 -8px -31px -124px, 2 -16px -62px -155px, 3 -24px -93px -186px;
@each $star-number in $stars {
    .stars--#{nth($star-number, 1)} {
        background-position: 0 nth($star-number, 2);
        .waiting__inner__body & {
            background-position: 0 nth($star-number, 4);
        }
    }
    .stars--negative--#{nth($star-number, 1)} {
        background-position: 0 nth($star-number, 3);
    }
}

// STARBURST

.starburst {
    display:block;
    width:50px;
    height:50px;
    -webkit-transform:rotate(-120deg);
    -moz-transform:rotate(-120deg);
    rotation:-120deg;
    position:absolute;
    top:-25px;
    left:40px;
    text-align:center;
    color:#fff;
    font-size:1.25em;
    span {
        display:block;
        width:50px;
        height:50px;
        background:#54bf80;
        -webkit-transform:rotate(11.25deg);
        -moz-transform:rotate(11.25deg);
        rotation:12.5deg;
    }
    strong {
        display: block;
        font-weight: bold;
        font-size: 1.75em;
        letter-spacing: -1px;
        padding: 10px 0 0 0;
        line-height: .8;
    }
}

.starburst--minus span {
    background:#e34f43;
}

#waiting {
    background: rgba(0,0,0,0.75);
    color:#fff;
    z-index: 100000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    h2, span {
        font-size:1.6em;
    }
    .title-checked {
        color:#46c9ae;
    }
    .title-unchecked {
        color:#94a4a5;
    }
    .title-checked--no-scoop {
        color:#e74b3b;
    }

    p {
        font-size:2.2em;
    }
    .timer {
        &:before {
        color:#fff;
        content: "\27";
        display: inline-block;
        margin: -4px 0 0 0;
        padding: 0 8px 0 0;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1em;
        vertical-align: top;
        }
    }
    .gauge {
        border-color:#fff;
        margin:0 auto;
        padding:4px 3px 4px 2px;
    }
    .gauge__inner {
        background:none;
        border:none;
    }
    .fill {
        background:#fff;
    }
}

#fill-waiting {
    @include animation(expandWidth 2s linear);
}

.waiting__inner {
   display: table;
   height: 100%;
   width: 100%;
}

.waiting__inner__body {
    display: table-cell;
    padding: 0 2em;
    text-align: center;
    vertical-align: middle;
    > div {
        display: none;
    }
    .waiting-check-thematique {
        display: block;
    }
    .verify-cuit-credibility {

    }
}
.verify-cuit-theme .verify-cuit-theme,
.verify-source-theme .verify-source-theme,
.verify-cuit-credibility .verify-cuit-credibility,
.verify-cuit-exclusivity .verify-cuit-exclusivity,
.verify-source-theme .verify-source-theme,
.publish-cuit .publish-cuit
{
    display: block;
}

.source-status {
    background:image-url("bg-credibility-status.png") left top no-repeat;
    display: block;
    margin: 10px auto;
    padding:0;
    height:30px;
    width:127px;
}

.status-unchecked {
    background-position:0 0;
}

.status-checked--1 {
    background-position:0 -30px;
}

.status-checked--2 {
    background-position:0 -60px;
}

// AUTOSAVE

.autosave {
    color:#bfb7a6;
    display: block;
    font-size: 2em;
    position:fixed;
    padding:0 0 0 30px;
    bottom:10px;
    right:10px;
    z-index:99999;
}

.autosave-loader {
    font-size: 10px;
    margin: 0;
    text-indent: -9999em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #bfb7a6;
    background: -moz-linear-gradient(left, #bfb7a6 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #bfb7a6 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #bfb7a6 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #bfb7a6 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #bfb7a6 10%, rgba(255, 255, 255, 0) 42%);
    position: absolute;
    left:0;
    top:0;
    -webkit-animation: loader 1.4s infinite linear;
    animation: loader 1.4s infinite linear;
    &:before {
      width: 50%;
      height: 50%;
      background: #bfb7a6;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }
    &:after {
      background: #000;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes expandWidth {
  0% {
    width:0;
  }
  100% {
    width:100%;
  }
}
@keyframes loader {
  0% {
    width:0;
  }
  100% {
    width:100%;
  }
}
