// bower:scss
// endbower

@import 'elements';
@import 'kendo';

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../fonts/HelveticaNeueLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLight.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLight.svg#3162d512a0b0767ee94e99606f47da13') format('svg'); /* Legacy iOS */   
  font-style:   normal;
  font-weight:  400;
}

html { font-size: 75%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height:100%; }
html, button, input, select, textarea { font-family:'HelveticaNeueLight', Helvetica, Verdana, sans-serif; color:$default-color; }
a { @include transition(all .5s linear); color: $default-link-color; text-decoration: none; }

.clearfix {
	content:"";display:block;clear: both;
}

.media {
	overflow: hidden;
	zoom:1;
}

.templates {
	display: none;
}

#windows-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	margin: 0;
	background: #eee;
	list-style: none;
	li {
		float: left;
		margin-right: 2px;
	}
}

.timeline {
	position: absolute;
	bottom: 50px;
	left: 50px;
	width: 200px;
	height: 150px;
}

.status {
	position: absolute;
	bottom: 100px;
	left: 350px;
	width: 300px;
	height: 150px;
	border: 1px solid #eee;
}

.cuits {
	list-style: none;
	margin: 0;
	padding: 0;
	.cuit {
		height:auto;
        max-height: 0;
        overflow-y: hidden;
		@include transition(max-height 0.5s ease-in-out);
		&.visible {
            max-height: 220px;
		}
		.off {
			display: inline;
		}
		.on {
			display: none;
		}
		.metas {
			display: table;
			table-layout: fixed;
			width: 100%;
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				border-top:1px solid $border-color;
				border-left:1px solid $border-color;
				display: table-cell;
				margin: 0;
				padding:5px 10px;
				text-align: center;
				vertical-align: top;
				&:first-child {
					border-left:none;
				}
			}
		}
		.actions {
			list-style: none;
			li {
				display: inline-block;
				vertical-align: top;
			}
		}
	}
}

.actions {
	display: none;
	.toggle & {
		display: block;
	}
}

.theme {
	.verified-theme & {
		.off { display: none; }
		.on { display: inline; }
	}
}
.credibility {
	.verified-credibility & {
		.off { display: none; }
		.on { display: inline; }
	}
}
.exclusivity {
	.verified-exclusivity & {
		.off { display: none; }
		.on { display: inline; }
	}
}

// .level-1 {
// 	.publish, .credibility, .exclusivity, .timeline {
// 		display: none !important;
// 	}
// }


#chat {
	.discussion {
		list-style: none;
		.me {
			text-align: right;
		}
		.other {
			text-align: left;
		}
	}
}

.inner__body {
	padding:10px;
}

.avatar {
	border:1px solid $border-color;
	border-radius:4px;
	display: block;
	float: left;
	overflow: hidden;
	margin: 0 10px 0 0;
	padding: 0;
	height: 60px;
	width: 60px;
}