<div class="splash__body">
	<div class="splash__body__inner">
		<div class="splash__body__inner__text">
			<h2>Crédits</h2>
			<h3>France TV Education</h3>
			<ul class="unstyled">
				<li>Amel Cogard, directrice des services numérique, éducation et jeunesse</li>
				<li>Pauline Jacob, chef de projet numérique</li>
			</ul>

			<h3>Conception et réalisation</h3>
			<ul class="unstyled">
				<li>Florent Maurin, <a href="http://www.thepixelhunt.com/" target="_blank">The Pixel Hunt</a></li>
				<li><a href="http://askmedia.fr/ " target="_blank">ASK Media</a></li>
			</ul>
		</div><!-- .splash__body__inner__text -->
	</div><!-- .splash__body__inner -->
</div><!-- .splash__body -->
<div class="bt-close-splash">&times;</div>
