<div ng-class="['inner',currentSource.themeVerified ? 'verified-theme' : '']">
	<div ng-class="['level-'+level]">
		<div class="inner__body">
			<div class="media">
				<img src="/images/avatars/{{currentSource.id|removeAT}}.png" alt="" class="avatar" />
				<div class="media">
					<p>
						{{currentSource.name}}
					</p>
					<p>
						<a href="javascript:void(0);" class="source source--disabled">
							{{currentSource.id}}
						</a>
					</p>
					<p>
						{{currentSource.bio}}
					</p>
				</div>
			</div>
		</div><!-- .inner__body -->
		<ul class="metas">
			<li class="theme">Thématique
				<span class="off"><button ng-click="verifySourceTheme(currentSource.id)" class="bt">Analyser la source</button></span>
				<span class="on">
					<span ng-repeat="theme in currentSource.themes" ng-class="['item-theme', theme]">{{theme}}</span>
				</span>
			</li>
			<li ng-if="false" class="credibility">Crédibilité <span class="off"><button class="bt">Vérifier</button></span><span class="on"><!-- TO DO --></span></li>
		</ul>
	</div>
</div>


