<div ng-class="['level-'+level]" ng-mouseover="cuitsOver()"  ng-mouseleave="cuitsOut()">
	<h2>Fil d'actualité</h2>
	{{cuitshover}}
	<ul class="cuits">
		<li ng-repeat="(id, cuit) in cuits" ng-class="['cuit', cuit.visible ? 'visible' : '', cuit.toggle ? 'toggle' : '', cuit.themeVerified ? 'verified-theme' : '', cuit.credibilityVerified ? 'verified-credibility' : '', cuit.exclusivityVerified ? 'exclusivity-theme' : '']">
			<div class="inner" ng-click="cuit.toggle=!cuit.toggle">
				<div class="inner__body">
					<div class="media">
						<img src="/images/default-avatar.png" alt="" class="avatar" ng-click="openSource(cuit.author.id)" />
						<div class="media">
							<div class="publish right">
								<button class="bt bt--publish" ng-click="publishCuit(cuit)" ng-if="!cuit.published"><span>Publier 15 minutes </span></button>
							</div>
							<p>
								<a href="" ng-click="openSource(cuit.author.id)" class="source">
									{{cuit.author.id}}
								</a>
							</p>
							<p>
								{{cuit.content}}
							</p>
						</div>
					</div>
				</div><!-- .inner__body -->
				<ul class="metas">
					<li class="theme">Thématique <span class="off"><button ng-click="verifyCuitTheme(cuit)" class="bt">Vérifier</button></span><span class="on">{{cuit.theme}}</span></li>
					<li class="credibility">Crédibilité <span class="off"><button class="bt">Vérifier</button></span><span class="on">{{cuit.credibility}}</span></li>
					<li class="exclusivity">Scoop <span class="off"><button class="bt">Vérifier</button></span><span class="on">{{cuit.exclusivity}}</span></li>
				</ul>
			</div>
		</li>
	</ul>
</div>