<div ui-keyup="{13'skipCurrentText()'}">
	<div class="splash level-4" ng-hide="fadeSplash">
		<div class="splash__body">
			<div class="splash__body__inner">
				<div class="splash__body__inner__text">
					<div class="logo-splash"></div>
					<h2>Niveau 4</h2>
					<h3>10 ans plus tard, c'est vous le boss !</h3>
					<p>Voilà dix ans que vous êtes à L'International ! Vous avez plutôt bien géré votre carrière : Sonia, qui est toujours rédactrice en chef, vous confie les rennes du journal pendant ses vacances...</p>
				</div>
			</div>
		</div>
		<div class="autosave"><div class="autosave-loader"></div><span>Sauvegarde automatique</span></div>
	</div>

	<div class="top-skip">
		<a ng-click="goto('/play')">Esc</a>
		<span>pour <br />passer</span>
	</div>

	<div ng-include="'./views/_intro-discussion.html'" ng-if="characterName"></div>

</div>