<div ui-keyup="{13'skipCurrentText()'}">
	<div class="splash level-2" ng-hide="fadeSplash">
		<div class="splash__body">
			<div class="splash__body__inner">
				<div class="splash__body__inner__text">
					<div class="logo-splash"></div>
					<h2>Niveau 2 </h2>
					<h3>Premiers pas d'un bloggeur</h3>
					<p>Votre bac en poche, vous voilà à l'Université. Vous vous êtes finalement découvert une passion pour le journalisme, et avez ouvert un blog pour commencer à vous entraîner... Vous êtes toujours ami(e) avec Mehdi...</p>
				</div>
			</div>
		</div>
		<div class="autosave"><div class="autosave-loader"></div><span>Sauvegarde automatique</span></div>
	</div>

	<a href="/#/play">skip</a>

</div>