	<div id="scoring" class="albert">
		<div class="inner-content">
			<div class="scoring__body">
				<h2 class="scoring__title">Victoire</h2>
				<h3 class="scoring__subtitle">Magnifique !</h3>
				<div class="scoring__body__content clearfix media">
					<img src="/images/character/Albert-Londres.png" class="right" />
					<div class="media">
						<div class="scoring__body__content__text">
							<p>
								<strong><em>Alors là, chapeau !</em></strong>
							</p>
							<p>
								Vous avez parfaitement intégré les rouages du métier <br />de journaliste : vous êtes capable de sélectionner,<br /> de vérifier et de hiérarchiser l'information.
							</p>
							<p>
								Vous êtes tellement doué(e) que moi-même, <strong>le fantôme<br /> du grand Albert Londres</strong>, un des journalistes<br /> les plus connus au monde, a réapparu<br /> pour vous serrer la main !
							</p>
						</div>
					</div>
				</div>
				<p>
					Vous pouvez toujours refaire une partie pour tenter de vous surpasser,<br />mais ça ne va pas être facile...
				</p>
				<button class="bt bt--nextlevel" type="button" ng-click="showScore()">Voir mon score</button>
				</div>
			</div>
		</div>
	</div>