<h2 class="blog-title">L'international - Le site de toutes les actus</h2>
	<div class="blog__category clearfix">
		<ul class="unstyled blog__category__list">
			<li class="blog__category__item active">Accueil</li>
			<li class="blog__category__item">Société</li>
			<li class="blog__category__item">Politique</li>
			<li class="blog__category__item">Monde</li>
			<li class="blog__category__item">Economie</li>
			<li class="blog__category__item">Médias</li>
			<li class="blog__category__item">Science</li>
			<li class="blog__category__item">Sport</li>
			<li ng-if="false" class="blog__category__item" ng-repeat="(theme, name) in themes">{{name}}</li>
		</ul>
	</div>

	<div class="grid">
		<div class="grid2-1">
			<div class="grid-block">
				<div class="grid-block__item grid-block__item--large" ng-repeat="(pos, post) in posts.slice(0,1)">
					<p class="grid-block__item__headline"><span>A la une</span></p>
					<h2 class="grid-block__item__title">{{post.title}}</h2>
					<ul class="metas">
						<li class="date">à {{post.date| time}}</li>
						<li class="theme"><span class="theme-title">Thématique : </span> <span class="item-theme {{post.cuit.theme}}"><span class="visuallyhidden">{{themes[post.cuit.theme]}}</span></span></li>
						<li class="source"><span class="source-title">Source : </span> {{post.cuit.author.name}}</li>
					</ul>
					<!-- <img src="/images/blog-default-image.png" alt="" /> -->
					<p class="grid-block__item--body">{{post.cuit.articleContent }}</p>
					<div class="postActions">
						<span class="remove" ng-click="unpublish(post)"><span class="visuallyhidden">X</span></span>
						<span class="down" ng-click="publishDown(pos)"><span class="visuallyhidden">Bas</span></span>
					</div>
				</div>
			</div>
			<div class="grid-block">
				<div class="grid-block__item grid-block__item--medium" ng-repeat="(pos, post) in posts.slice(1,3)">
					<h2 class="grid-block__item__title">{{post.title}}</h2>
					<ul class="metas">
						<li class="date">à {{post.date| time}}</li>
						<li class="theme"><span class="theme-title">Thématique : </span> <span class="item-theme {{post.cuit.theme}}"><span class="visuallyhidden">{{themes[post.cuit.theme]}}</span></span></li>
						<li class="source"><span class="source-title">Source : </span> {{post.cuit.author.name}}</li>
					</ul>
					<!-- <img src="/images/blog-default-image.png" alt="" /> -->
					<p>{{post.cuit.articleContent | limitTo: 80 }}</p>
					<div class="postActions">
						<span class="remove" ng-click="unpublish(post)"><span class="visuallyhidden">X</span></span>
						<span class="up"ng-click="publishUp(pos+1)"><span class="visuallyhidden">Haut</span></span>
						<span class="down"ng-click="publishDown(pos+1)"><span class="visuallyhidden">Bas</span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p class="grid-block__item__headline"><span>Brèves</span></p>
	<div class="grid">
		<div class="grid3">
			<div class="grid-block" ng-repeat="(pos, post) in posts.slice(3,6)">
				<div class="grid-block__item grid-block__item--small">
					<h2 class="grid-block__item__title">{{post.title}}</h2>
					<ul class="metas">
						<li class="date">à {{post.date| time}}</li>
						<li class="theme"><span class="theme-title">Thématique : </span> <span class="item-theme {{post.cuit.theme}}"><span class="visuallyhidden">{{themes[post.cuit.theme]}}</span></span></li>
						<li class="source"><span class="source-title">Source : </span> {{post.cuit.author.name}}</li>
					</ul>
					<p class="grid-block__item--body">{{post.cuit.articleContent | limitTo: 80 }}</p>
					<div class="postActions">
						<span class="remove" ng-click="unpublish(post)"><span class="visuallyhidden">X</span></span>
						<span class="up" ng-click="publishUp(pos+3)"><span class="visuallyhidden">Haut</span></span>
						<span class="down" ng-click="publishDown(pos+3)"><span class="visuallyhidden">Bas</span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
