<h2>Mes contacts</h2>
<div class="inner">
	<div class="inner__body inner__body--fullwidth">
		<ul class="unstyled">
			<li ng-repeat="(id, contact) in contacts" class="inner-item contact-item">
				<a href="" ng-click="openContact(id)">
					{{contact.name}}
				</a>
				<div class="contact-item-themes">
					<span ng-repeat="theme in contact.themes" ng-class="['item-theme', theme]"></span>
				</div>
				<a href="" class="call" ng-click="callContact(contact)" ng-if="canCall">Call</a>
			</li>
		</ul>
	</div><!-- .inner__body -->
</div><!-- .inner -->
<button class="bt right"><span>Nouveau contact <strong>+</strong></span></button>