<div ng-controller="MainCtrl">

  <ul>
    <button ng-repeat="(id, win) in windows"
            class="k-button"
            ng-click="openWin(id)">
      {{win.title}}
    </button>
  </ul>

  <div class="windows">

    <div  ng-repeat="(id, win) in windows"
          kendo-window="{{id}}"
          id="{{id}}"
          k-title="win.title"
          k-on-open="win.visible = true"
          k-on-close="win.visible = false"
          k-resizable="false"
          k-width="400"
          k-height="300"
          k-content="{url: '/views/_'+win.template+'.html'}">
    </div>
  </div>

  <div class="templates">
    <div ng-repeat="template in templates" ng-include="'/views/_'+template+'.html'" id="template-{{template}}"></div>
  </div>

</div>
