<div ng-controller="MainCtrl">

  <ul id="windows-bar">
    <li ng-repeat="(id, win) in windows">
    <button class="k-button"
            ng-click="toggleWin(id)">
      {{win.title}}
    </button>
  </ul>

  <div class="windows">
    <div  ng-repeat="(id, win) in windows"
          kendo-window="{{id}}"
          id="{{id}}"
          k-title="win.title"
          k-on-open="win.visible = true"
          k-on-close="win.visible = false"
          k-resizable="win.resizable"
          k-visible="win.visible"
          k-position="win.position"
          k-width="win.width"
          k-height="win.height"
          k-content="{url: '/views/_'+win.template+'.html'}">
    </div>
  </div>

  <div class="templates">
    <div ng-repeat="template in templates" ng-include="'/views/_'+template+'.html'" id="template-{{template}}"></div>
  </div>

</div>
