<div ng-class="['level-'+level]">

	<div class="windows">
		<div  ng-repeat="(id, win) in windows"
					id="{{id}}"
					kendo-window="{{id}}"
					k-title="win.title"
					k-on-open="win.visible = true"
					k-on-close="win.visible = false"
					k-resizable="win.resizable"
					k-actions="win.actions"
					k-modal="win.modal"
					k-visible="win.visible"
					k-position="win.position"
					k-width="win.width"
					k-height="win.height"
					k-content="{url: '/views/_'+win.template+'.html'}">
		</div>
	</div>

	<ul id="windows-bar">
		<li ng-repeat="(id, win) in windows" ng-if="win.active" ng-class="[id, win.visible ? 'visible' : '']">
			<button class="k-button"
					ng-click="toggleWin(id)">
				{{win.title}}
			</button>
		</li>
	</ul>

	<div class="widgets">
		<div class="timeline">
			<div class="clearfix timeline-row">
				<h2 class="left">Temps restant</h2>
				<a ng-click="endDay()" class="endDay bt bt--finish right">Terminer la journée</a>
			</div>
			<div class="clearfix">
				<div class="jauge left">
					<div class="jauge__inner">
						<div class="fill" style="width:{{((totalTime-remainingTime)/totalTime)*100}}%;"></div>
					</div>
				</div>
				<span class="remaining left">{{remainingTime | duration}}</span>
			</div>
		</div>

		<div class="feedback">
			<div ng-class="feedbackType">
				{{feedback}}
			</div>
		</div>
	</div>

	<div id="tooltip" ng-show="tooltip.active">
		<p ng-bind-html="tooltip.content"></p>
	</div>

	<div id="scoring" ng-class="[level, status]" ng-if="showScoring">
		<div class="inner">
			<div class="scoring__body">
				<h2 class="scoring__title">Victoire</h2>
				<h3 class="scoring__subtitle">Félicitations</h3>
				<p>
					Vous avez appris les bases de l'utilisation de Cuicuitter pour chercher des infos<br />
					et savoir de quoi elles parlent. Mais la route est encore longue avant de devenir<br />
					un journaliste chevronné. Maintenant les choses sérieuses vont commencer !
				</p>
				<button ng-click="nextLevel()" class="bt bt--nextlevel">Niveau Suivant</button>
			</div>
		</div>
	</div>

		<div class="scores">

			<div class="level-score">
				<p>Score à atteindre pour ce niveau</p>
				<span>{{scoring['level-'+level]['winning-score']}}</span>
			</div>

			<div class="my-level-score">
				<p>Mon score pour ce niveau</p>
				<span>{{scores['level-'+level]}}</span>
			</div>

			<div class="total-score">
				<p>Mon score total</p>
				<span>{{scores['level-1']+scores['level-2']+scores['level-3']+scores['level-4']}}</span>
			</div>

			<br>

			<ul class="score-detail"></ul>

		</div>

	</div>

</div>

<div id="debug" ng-include="'/views/_debug.html'" ng-if="debug"></div>
