<div ng-class="['level-'+level]">

	<div class="windows">
		<div  ng-repeat="(id, win) in windows"
					id="{{id}}"
					kendo-window="{{id}}"
					k-title="win.title"
					k-on-open="win.visible = true"
					k-on-close="win.visible = false"
					k-resizable="win.resizable"
					k-actions="win.actions"
					k-modal="win.modal"
					k-visible="win.visible"
					k-position="win.position"
					k-width="win.width"
					k-height="win.height"
					k-content="{url: '/views/_'+win.template+'.html'}">
		</div>
	</div>

	<ul id="windows-bar">
		<li ng-repeat="(id, win) in windows" ng-if="win.active" ng-class="[id, win.visible ? 'visible' : '']">
			<button class="k-button"
					ng-click="toggleWin(id)">
				{{win.title}}
			</button>
		</li>
	</ul>

	<div class="widgets">
		<div class="timeline">
			<h4>Temps restant</h4>
			<a ng-click="endDay()">Terminer la journée</a>
			<p>
				<div class="gauge">
					<div class="fill" style="width:{{((totalTime-remainingTime)/totalTime)*100}}%;"></div>
				</div>
				<span class="remaining">{{remainingTime | duration}}</span>
			</p>
		</div>

		<div class="status">

		</div>
	</div>

	<div id="tooltip" ng-show="tooltip.active">
		<p ng-bind-html="tooltip.content"></p>
	</div>

	<div id="scoring" ng-class="[level, status]" ng-if="showScoring">

		<h4>Félicitations</h4>

		<div class="message">
			<p>
				Vous avez appris les bases de l'utilisation de Cuicuitter pour chercher des infos<br />
				et savoir de quoi elles parlent. Mais la route est encore longue avant de devenir<br />
				un journaliste chevronné. Maintenant les choses sérieuses vont commencer !
			</p>
			<button ng-click="nextLevel()">Niveau Suivant</button>
		</div>

		<div class="scores">

			<div class="level-score">
				<p>Score à atteindre pour ce niveau</p>
				<span>70</span>
			</div>

			<div class="my-level-score">
				<p>Mon score pour ce niveau</p>
				<span>90</span>
			</div>

			<div class="total-score">
				<p>Mon score total</p>
				<span>540</span>
			</div>

			<br>

			<ul class="score-detail"></ul>

		</div>

	</div>

</div>

<div id="debug" ng-include="'/views/_debug.html'"></div>
